.bottomNav{
	padding: 0;
	border-right: solid;
    border-color: white;
	border-width:2px; 
}
.bottomNav2{
	padding: 0;
}
.btn.btn-default.bottomNavButton{
	width: 100%;
	height: 100%;
	font-size: 3rem;
}
span.glyphicon.glyphicon-pencil,span.glyphicon.glyphicon-plane,span.glyphicon.glyphicon-heart{
	width: 100%;
	padding: 1rem;

}

.navOnPage{
	background-color: grey;

}

.OnPage{
	color:white;
}

/*----------       Basic CSS      ------------*/

.errorMsg{
	position: center;
	color:#3c3c3c;
    margin-top: 40%;
    text-align: center;
    text-shadow: 2px 2px 2px #b0b0b0;
    color: white;
    background-color: #d3d3d3;
    padding: 3rem;
    border-radius: 5px;
    
}

ul{
	/*padding-top:15px;*/
	list-style: none;
}

.list-styled li{
	display: inline;
}

button {


}


button:active {
	font-size:18px;
	border:2px solid red;

}



img.background{
	position: fixed;
}

div.homeBG{
	margin: -1px 0 0 -2px;
	background-image: url(../img/background.png);
	height: 102%;
}

body{
	
	font-family: 'Open Sans', sans-serif;
	 background-color: #eaeaea;
	
}

.bird{
	padding-top:20%;
}

h4.title{
	font-weight:400;
	font-size:38px;
	padding-bottom: 20px;
    color:black;
}

header{
	text-align: center;
	margin: 0 auto;
	max-width: 375px;
}

h2{
	color: white;
	font-size: 1.5rem;
}
h2.small-title{
	color: black;
	font-size: 2rem;
	margin-top: 1rem;
}

h3{
	font-size: 14px;
	margin: 0;
	opacity: 0.5;
}

/*-----------------------------button-----------------------------*/ 
.button-type4
{
    color:red;
    margin:0;
   
}

.closeButtons{
    text-align: right;
}
    

.btn.btn-default.btn-lg.type4{

	font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);    
}




.btn.btn-default.btn-lg{

	
	font-size: 13px;
	border: 2x solid gray;
	background-color: #7c7c7c;
	opacity: 0.4;
    margin-top: 10px;
}

.btn.btn-default{
	border:none;
	padding:none;
	margin:none;
}
.glyphicon.glyphicon-calendar{
	font-size: 200%;
	
	padding-top:-1;
	margin-top:-4;

}

.btn.btn-default.btn-lg:focus{
	font-size: 18px;
	border: 2x solid gray;
	background-color: #7c7c7c;
background-color: blue;
}

.homebuttons{
	font-size: 18px;
	border: 2x solid gray;
	text-align: center;
	padding : 20px;

}

.container.home{
	margin-top: 2rem;
}
.container.flightinfo-type1{
	padding-top: 20px;
	

}

.row.home{
	margin-top: 3rem;
	text-align: center;
}

.button-type1{

	text-decoration: none;
	color: white;
	

}
	

.panel-heading.flighinfo{
	background-color: white;
	border-bottom: none;
}

/*------------------------------fligh detial------------------------------*/
.summarybtn{
	padding:2px;
	font-size: 18px;
	border: 2x solid gray;
	background-color: #7c7c7c;
	opacity: 0.4;
	width: 20%;
	text-decoration: none;

}
.containertype-3{
    padding-bottom: 120px;
}


img.flight-logo{

	max-width: 100%;
    height: auto;
    width: auto;
	
	border-radius: 100px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	/*background: url(http://link-to-your/image.jpg) no-repeat;*/
	box-shadow: 0 0 2px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .2);
}


.box-of-flight{
	background-color: rgba(255,255,255, .5);
	
}



img.small-logo{
	margin-top: 0.4rem;
	/*margin-left: 2rem;*/
}

.selectBar{
	margin-bottom: 5px;
	float:right;
	
}
.row.filteringItem{
	padding: 1rem 0;
}


/*------------------------------Flight info--------------------------------*/
.main-title{
    font-weight:600px;
}
.centering{
    text-align: center;
}
.input-group-addon.home{
    padding:0;
    margin-right: 1rem;
    border:0;
    background-color: rgba(0,0,0, .3);
    width:30px;

    
    
}

p.home{
    margin: 0 0 0 1rem;
}
.homeCheckbox{
    font-size:20rem; 
}

.form-control{
	background-color:#e0e0e0;
	
}

.form-control:focus{
	background-color:white;
	opacity:1;
	border-style:none;
	
}

.row.home-type2{
	margin: 0 auto;
	max-width:80%;
}

.homeCheckB{
	background-color: white;
	opacity: 0.5;

}

.panel.panel-default{
	background-color:white;
	
}

.DatepickerCtrl2.input-group{
	background-color: black;
}

.submit-style{
	margin-bottom: 20px;
	margin-top:-13;
}

.glyphicon-calendar{
	width: 330%;
	height:230%;
}

.glyphicon{
	width:120%;
	height:190%;
}


.dropdown-style {
	margin: 10px;

}

.search-query{
	background-color:#e0e0e0;
	opacity:1;
	/*border-radius: 5px;*/
	font-size: 12px;
}

.search-query:focus{
	background-color:white;
	opacity:1;
}
select.select-FI{
	font-size:14px;
	background-color: #e0e0e0;
	width: 100%;
}

select.select-FI:focus{
	background-color: white;
}

.row.goingLocation{
	background-image: url(../img/cloud.png);
	background-size: 100%;
	margin-top: -30px;
}

h1.title{
	margin-top: 60%;
	font-weight: lighter;
	color: white;
}

.container.filteringItem{
	margin-top: 40%; 
	background: white;
	padding: 2% 5% 2% 5%; 
	opacity: 0.85;
}

div.sideMenu{
	position: absolute;
	height: 100%;
	width: 100%;
	top:75px;
	left: 30px;
}


div.sideMenuTimeChange{
	width: 100%;

}
div.sideMenuCheck{
	width: 80%;
	margin-left: 15px;
}

.animate-container {
    background: #ececec;
    list-style:none;
    margin:0;
}

.animate-repeat {
    list-style:none;
    -webkit-transition-delay: 0s;
    -webkit-transition: 1s linear all;
    transition: 1s linear all;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition-delay: 0s;
    -webkit-transition:all linear 1s;
    transition:all linear 1s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
    max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
    max-height:100%;
}

.animate-repeat.ng-leave-stagger {
    -webkit-transition-delay: 0s;
    transition-delay: 0.5s;

   -webkit-transition-duration: 0s;
    transition-duration: 0.5s;
}


.animate-repeat.ng-enter-stagger {
     -webkit-transition-delay: 0s;
    transition-delay: 0.5s;

   -webkit-transition-duration: 0s;
    transition-duration: 0.5s;
}


/*-----------------------*/

.view-animate-container {
  position:relative;
  height:100%!important;
/*  background:white;*/
  height: 100%;
/*  border:1px solid black;*/
 
/*  overflow:hidden;*/
}

.view-animate {
  padding:10px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all cubic-bezier(0, 0, 0.1, 0.1) 0.5s;
  transition:all cubic-bezier(0, 0, 0.1, 0.1) 0.5s;

/*  display:block;*/
  width:100%;
  /*border-left:1px solid black;*/

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  padding:10px;
}

.view-animate.ng-enter {
  top:200%;
}
.view-animate.ng-enter.ng-enter-active {
  top:0;
}
.view-animate.ng-leave.ng-leave-active {
  top:-200%;
/*    display: none;*/
}




.popWindow{
	height: 110%;
	padding-top: 50%;
	background-color: rgba(234,234,234,0.8);
}

.popWindow .popWindowText{
	font-size:1.6rem; 
}