<!-- Logo On the top -->
<div class="container flightinfo-type1">
  <div class="row">
    <div class="centering">
        <img src="img/logo.png" width="80" />
        <div class="row">
          <h4 class="title">Ticket Penguin</h4>
        </div>
    </div>
       
  </div>

<!-- Destination and From Information -->
  <div class="row">
    <div class="col-md-6 .col-md-offset-3">
      <form role="form">
          <div class="panel panel-default">
            <div class="panel-heading flighinfo">
              <h3>Choose Your Locations</h3>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-controller="TypeaheadCtrl">

                <!-- <input type="text" class="form-control" id="usr" placeholder="Destination"> -->
                  <input id="infoInputs1" placeholder="{{$from}}" type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onSelect($item)">

                </div>
            </div>
            <div class="panel-body">
                <div class="form-group" ng-controller="TypeaheadCtrl">
                  <input id="infoInputs2" placeholder="{{$destination}}" type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8" class="form-control" typeahead-on-select="onSelect2($item)">
                </div>
            </div>
            <div>
              <script>
                function removePlace(){
                  document.getElementById("infoInputs1").placeholder="From";
                  document.getElementById("infoInputs2").placeholder="Destination";
                };
                
              </script>
            

            </div>
        </div>
                
      </form>
    </div>

  </div>
</div>

<!-- DatePicker for user to select date -->
<div class="container flightinfo-type2">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Leaving</h3>
        </div>
        <div class="panel-body">
          <p class="input-group" ng-controller="DatepickerCtrl">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="change()" close-text="Close"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

          </p>
        </div>
      </div>
    </div>

  </div>
    
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Returning</h3>
        </div>
        <div class="panel-body">
          <p class="input-group" ng-controller="DatepickerCtrl2">
            <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="change()" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>

          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Drop down Selections -->
  <div class="row">
    <div class="col-xs-12">
     <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Class</h3>
        </div>
        <div class="dropdown-style" ng-controller="DropdownCtrl">
          <select class="select-FI" ng-model="myClass" ng-options="class.name for class in FlightClass" ng-change="changeClass()"> </select>
        </div>
      </div>
     </div>


  </div>

  <div class="row">
    <div class="col-xs-12">
     <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Stop</h3>
        </div>
        <div class="dropdown-style" ng-controller="DropdownCtrl">
          <select class="select-FI" ng-model="myStop" ng-options="stop.name for stop in FlightStop" ng-change="changeStop()"> </select>
        </div>
      </div>
     </div>
  </div>

  <div class="row lastRowHome">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Adult</h3>
        </div>
          <div class="dropdown-style" ng-controller="DropdownCtrl">

            <!-- Single button -->
             <select class="select-FI" ng-model="myAdults" ng-options="Adults.name for Adults in Adults" ng-change="changeAdults()"> </select>


          </div>
        

      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-heading flighinfo">
          <h3 >Kid</h3>
        </div>
          <div class="dropdown-style" ng-controller="DropdownCtrl">

            <!-- Single button -->
             <select class="select-FI" ng-model="myKids" ng-options="Kids.name for Kids in Kids" ng-change="changeKids()"> </select>


          </div>

        </div>

    </div>
  </div>
</div>

<!-- Navigational bar fixed at the bottom -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-4 bottomNav">
        <a type="button" class="btn btn-default bottomNavButton navOnPage" href="#page2">
          <span class="glyphicon glyphicon-pencil OnPage" aria-hidden="true"></span>
        </a>
      </div>

      <div class="col-xs-4 bottomNav">
        <a type="button" class="btn btn-default bottomNavButton" href="#page3">
          <span class="glyphicon glyphicon-plane" aria-hidden="true"></span>
        </a>
      </div>

      <div class="col-xs-4 bottomNav2">
        <a type="button" class="btn btn-default bottomNavButton" href="#page4">
          <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</nav>


