


<!-- the body of current stage, support swipe fetures, 
default page shows infos, allow to expand
when swipe, setting page shown, support additional filters -->


    <!-- banner of page, showing user depart, destinate locations -->
    <div ng-app="ngAnimate" class="container">
      <div class="row goingLocation">
         <div class="col-xs-4">
            <h1 class="title">{{inputDepartLocation}}</h1>
          </div>

        <div class="col-xs-4">
            <h1 class="title"> ----</h1>
        </div>

        <div class="col-xs-4">
            <h1 class="title">{{inputArriveLocation}}</h1>
        </div>
     </div>

      <div class='row filteringItem'>
        <div class="col-xs-9">
             
              <input type="text" ng-model="search" class="search-query" style="width: 80px" placeholder= "search" >
         </div>
       <!-- ======= Flight bacis filter ====== -->
        <div class="col-xs-3">
   <!--      <div class="in-line-style">
        <button type="button"  class="btn btn-default btn-lg" ng-model="orderProp">
        <div class=""  value="Airling">2</div></button> -->
          <select ng-model="orderProp" size="3">
            

             <li> 
                <option value="Air_line">
                1
                </option>
             </li>

             <li > 
               <option value="leaving">Time</option>
             </li>

             <li > 
               <option value="price">Price</option>
            
             </li>
          </select>
          <div>

        </div>
      </div>
    </div>
    <!-- banner ends -->

    <!-- showing all found flight info -->
    <div class="container">
        <div class="containertype-3">
         <div class="row">
          <ul class="list-group box-of-flight animate-container">
            <li class="list-group-item box-of-flight animate-repeat" 
            ng-repeat="info in flightInfo | orderBy:orderProp | filter: search">

            
              
                 <div class="row">
                    <div class="col-xs-5">
                      <img class="flight-logo" ng-src="img/{{info.image}}">
                    </div>

                   <div class"col-xs-7">
                      <div>Air line: {{info.Air_line}}</div>
                      <div>Flight: {{info.Flight}}</div>
                      <div>Leaving: {{info.leaving}}</div>
                      <div>Price: {{info.price}}</div>
                   </div>
                 </div>
 <!-- ======= open up the whole detail ====== -->
            <details> 
              <summary >Detail </summary>
            
              <div class="row">  
                <div class="col-xs-12">
                  <h4>Depart</h4>
                </div>
              </div>

              <div class="row">

                <div class="col-xs-12"> 
                  Flight No : {{info.leavingFlightNo}}
                </div>
               
                <div class="col-xs-12">
                  Depart Location : {{info.departLocationL}}
                </div>

                <div class="col-xs-12">
                  Arrival Location : {{info.arriveLocationL}}
                </div>

                <div class="col-xs-12">
                  Arrive Time: {{info.arrivelTimeL}}
                </div>

              </div>

              <div class="row">

                <div class="col-xs-12">
                  <h4>Return</h4>
                </div>
               </div>

              <div class="row">
                <div class="col-xs-12"> 
                  Flight No : {{info.returningFlightNo}}
                </div>
                <div class="col-xs-12">
                  Depart Location : {{info.departLocationR}}
                </div>
                <div class="col-xs-12">
                  Arrival Location : {{info.arriveLocationR}}
                </div>
                <div class="col-xs-12">
                  Arrive Time: {{info.arrivelTimeR}}
                </div>
              </div>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div> <!--container-->
</div>


