
<!-- the navigation bar, showing status of progress -->
<nav class="navbar navbar-default navbar-fixed-top" ng-controller="NavCtrl">
  <div class="col-xs-2">
    <a href="#/home"><img class="small-logo" src="img/logo.png" width="40"></a>
  </div>
  <div class="col-xs-10 navigation">
    <div class="list-styled">
      <ul ng-controller="NavCtrl">
        <li ng-repeat="nav in NavBar">
          <a href="#{{nav.LinkName}}">{{nav.name}}</a>
          <span>{{nav.Arrow}}</span>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- the body of current stage, support swipe fetures, 
default page shows infos, allow to expand
when swipe, setting page shown, support additional filters -->
<div ng-app="ngSwipeRight" class='container flightinfo-type1'>
  <div class="detailInfo" ng-show="!showActions" ng-swipe-left="showActions = true">

    <!-- banner of page, showing user depart, destinate locations -->
    <div ng-app="ngAnimate" class="container">
      <div class="row goingLocation">
      <div class="col-xs-4">
        <h1 class="title">{{inputDepartLocation}}</h1>
      </div>
      <div class="col-xs-4">
        <h1 class="title"> ----</h1>
      </div>
      <div class="col-xs-4">
        <h1 class="title">{{inputArriveLocation}}</h1>
      </div>
    </div>

      <div class='row filteringItem'>
        <div class="col-xs-9">
          Search: 
          <input type="text" ng-model="search" class="search-query" style="width: 80px">
        </div>
        <div class="col-xs-3">
          <select ng-model="orderProp" class='selectBar'>
             <li class="list-group-item"> 
               <option value="Air_line">Air line</option>
             </li>
             <li class="list-group-item"> 
               <option value="leaving">Time</option>
             </li>
             <li class="list-group-item"> 
               <option value="price">Price</option>
             </li>
          </select>

        </div>
      </div>
    </div>
    <!-- banner ends -->

    <!-- showing all found flight info -->
    <div class="container">
         <div class="row">

          <ul class="list-group box-of-flight animate-container">
            <li class="list-group-item box-of-flight animate-repeat" 
            ng-repeat="info in flightInfo | orderBy:orderProp | filter: search">

            <details >
              <summary>
                <div class="row">
                  <div class="col-xs-5">
                    <img class="flight-logo" ng-src="img/{{info.image}}">
                  </div>

                  <div class"col-xs-7">
                    <div>Air line: {{info.Air_line}}</div>
                    <div>Flight: {{info.Flight}}</div>
                    <div>Leaving: {{info.leaving}}</div>
                    <div>Price: {{info.price}}</div>
                  </div>
                </div>
              </summary>

              <div class="row">  
                <div class="col-xs-12">
                  <h4>Depart</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12"> 
                  Flight No : {{info.leavingFlightNo}}
                </div>
               
                <div class="col-xs-12">
                  Depart Location : {{info.departLocationL}}
                </div>
                <div class="col-xs-12">
                  Arrival Location : {{info.arriveLocationL}}
                </div>
                <div class="col-xs-12">
                  Arrive Time: {{info.arrivelTimeL}}
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12">
                  <h4>Return</h4>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-12"> 
                  Flight No : {{info.returningFlightNo}}
                </div>
                <div class="col-xs-12">
                  Depart Location : {{info.departLocationR}}
                </div>
                <div class="col-xs-12">
                  Arrival Location : {{info.arriveLocationR}}
                </div>
                <div class="col-xs-12">
                  Arrive Time: {{info.arrivelTimeR}}
                </div>
              </div>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container sideMenu" ng-show="showActions" ng-swipe-right="showActions = false" >

    <accordion close-others=false>
      <accordion-group >
        <accordion-heading> pricing </accordion-heading>

        <div class="btn-group" dropdown is-open="status.isopen">
          <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle  ng-disabled="disabled">
            Currency <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="price in prices ">
              {{price.name}}
            </li>
          </ul>
              <!-- 
                  <pre>
                    $scope.demo1 = {
                        min: 20,
                        max: 80
                    };</pre>


              <div class="container" ng-controller="DemoController">
                <div range-slider min="0" max="100" model-min="demo1.min" model-max="demo1.max"></div>
              </div> -->

        </div>
      </accordion-group>

      <accordion-group>
        <accordion-heading> air line </accordion-heading>

        <div class="sideMenuCheck"> 
          <label class="checkbox" ng-repeat="info in flightInfo ">
            <input type="checkbox" checked>
            {{info.Air_line}}
          </label>
        </div>
      </accordion-group>

      <accordion-group >
        <accordion-heading> motify dates</accordion-heading>
        <div class="row sideMenuTimeChange">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading flighinfo">
                <h3 >Leaving</h3>
              </div>
              <div class="panel-body">
                <p class="input-group" ng-controller="DatepickerCtrl">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="change()" close-text="Close"/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row sideMenuTimeChange">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-heading flighinfo">
                <h3 >Returning</h3>
              </div>
              <div class="panel-body">
                <p class="input-group" ng-controller="DatepickerCtrl2">
                  <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" ng-change="change()" close-text="Close" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>

                </p>
              </div>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
</div>


